<!DOCTYPE html>
<html layout:decorator="layout"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <title>Initial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet"
        media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <td>Name</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td><a href="#" th:href="@{${user.id}}">
                    <span th:text="${user.fullName}">Bill Davis</span>
                </a></td>
                <td><a href="#" th:href="@{${user.id}}">
                    <span th:text="${user.email}">a@b.com</span>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
